<!DOCTYPE html>
<html lang='en'>
<head>
	<% include _head %>
	<link rel='stylesheet' href='/css/404.css'>
</head>
<body>
	<% include _navigation %>
	<div id='wrapper'>
		<div id='content' class='center'>
			<div id='inner-content' class='center'>
				404 Not Found
			</div>
		</div>
	</div>
	<% include _footer %>
</body>
</html>
