<link rel='stylesheet' href='/css/apps.css'>
<div id='app_container' class='center'>
	<a href='https://chrome.google.com/webstore/detail/lkocokbbpjnnfhibjlnhfkkibjdjdkoi' class='center' target='_blank'>
		<img src='/media/chrome.png' alt='Chrome' height='70px'>
	</a>
	<a href='https://chrome.google.com/webstore/detail/lkocokbbpjnnfhibjlnhfkkibjdjdkoi' class='center' target='_blank'>
		<img src='/media/firefox.png' alt='Fire Fox' height='70px'>
	</a>
	<a href='https://chrome.google.com/webstore/detail/lkocokbbpjnnfhibjlnhfkkibjdjdkoi' class='center' target='_blank'>
		<img src='/media/edge.png' alt='Edge' height='70px'>
	</a>
	<a href='https://chrome.google.com/webstore/detail/lkocokbbpjnnfhibjlnhfkkibjdjdkoi' class='center' target='_blank'>
		<img src='/media/opera.png' alt='Opera' height='70px'>
	</a>
	<a href='https://chrome.google.com/webstore/detail/lkocokbbpjnnfhibjlnhfkkibjdjdkoi' class='center' target='_blank'>
		<img src='/media/safari.png' alt='Safari' height='70px'>
	</a>
</div>
