<link rel='stylesheet' href='/css/apps.css'>
<div id='app_container' class='center'>
	<a id='chrome-app' class='center' href='https://chrome.google.com/webstore/detail/lkocokbbpjnnfhibjlnhfkkibjdjdkoi' target='_blank'>
		<img src='/media/chrome.png' alt='Chrome' height='70px'>
	</a>
	<a id='fire-fox-app' class='center' href='https://addons.mozilla.org/en-US/firefox/addon/never-pay-extra/' target='_blank'>
		<img src='/media/firefox.png' alt='Fire Fox' height='70px'>
	</a>
</div>
