<link rel='stylesheet' href='/css/footer.css'>
<footer class='center'>
	<div id='footer' class='center'>
		<div id='company-menu'>
			<strong>COMPANY</strong>
			<ul class='center'>
				<li><a href='/contact-us'>Contact Us</a></li>
				<!-- <li><a href='/terms-of-service'>Terms of Service</a></li>
				<li><a href='/privacy-policy'>Privacy Policy</a></li> -->
			</ul>
		</div>
		<div id='apps-container'>
			<strong>APPS</strong>
			<% include _apps %>
		</div>
		<div id='social-container'>
			<strong>CONNECT WITH US</strong>
			<% include _social %>
		</div>
		<small id='legal'>
			&copy; 2018 Never Pay Extra
		</small>
	</div>
</footer>

<% include _css %>
<% include _scripts %>
