<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, minimum-scale=1, initial-scale=1'>
<meta name='author' content='Never Pay Extra'>
<meta name='google-site-verification' content='NyfHiZgC72HkxLMye_GbRCm5AeVv78o16MkWWMZC3yw'>
<link rel='icon' href='/media/favicon.png'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>
<title>Never Pay Extra | The Price Comparison App</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112777017-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112777017-1');
</script>
