<link rel='stylesheet' href='/css/navigation.css'>
<nav class='center'>
	<div id='nav-name'>
		<a class='center' href='/'><img src='https://s3.amazonaws.com/com.neverpayextra/logo_navbar_white.png'> <strong>Never Pay Extra</strong></a>
	</div>
	<form action='/search?q=' method='GET' id='nav-search'>
		<input id='query' type='text' name='query' placeholder='Search for a product...' required>
		<button type='submit'><i class='fa fa-search'></i></button>
	</form>
	<div>
		<% include _social %>
	</div>
	<!-- <div id='navigation'>
		<a href='/' id='logo_container' class='center'>
			<img src='https://s3.amazonaws.com/com.neverpayextra/logo_navbar.png' alt='Never Pay Extra Home Page'>
			<span id='company_name'>NEVER PAY EXTRA</span>
			<span id='slogan'>The Price Comparison App</span>
		</a>
		<% include _social %>
	</div> -->
</nav>
