<link rel='stylesheet' href='/css/navigation.css'>
<nav class='center'>
	<div id='nav-name'>
		<a class='center' href='/'><img src='https://s3.amazonaws.com/com.neverpayextra/logo_navbar_white.png'> <strong>Never Pay Extra</strong></a>
	</div>
	<form action='/search?q=' method='GET' id='nav-search'>
		<input id='query' type='text' name='query' placeholder='Search products...' required>
		<button type='submit'><i class='fa fa-search'></i></button>
	</form>
	<div>
		<% include _social %>
	</div>
</nav>
