<link rel='stylesheet' href='/css/social.css'>
<ul id='social_list' class='center'>
	<li>
		<a href='https://facebook.com/NeverPayExtra' target='_blank'>
			<i class='fab fa-facebook-square'></i>
		</a>
	</li>
	<li>
		<a href='https://instagram.com/NeverPayExtra' target='_blank'>
			<i class='fab fa-instagram'></i>
		</a>
	</li>
	<li>
		<a href='https://twitter.com/NeverPayExtra_' target='_blank'>
			<i class='fab fa-twitter-square'></i>
		</a>
	</li>
</ul>
