<!DOCTYPE html>
<html lang='en'>
<head>
	<meta name='description' content='Never Pay Extra | The Price Comparison App | Price Check While you Shop'>
	<meta name='keywords' content='never pay extra, price comparison app, chrome extension price comparison'>
	<link rel='stylesheet' href='/css/index.css'>
	<% include _head %>
</head>
<body>
	<% include _navigation %>
	<div id='wrapper' extension-enabled='false'>
		<div id='content' class='center'>
			<div id='inner_content' class='center'>
				<div id='sales_video' class='center'>
					<iframe src='https://www.youtube.com/embed/fBx_C25kZz4' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen></iframe>
				</div>
				<div id='browser_plugin' class='center'>
					<span>
						<h1>Never Pay Extra</h1> is a free price comparison app that ensures you get the best price when shopping online.
					</span>
					<% include _apps %>
				</div>
			</div>
		</div>
	</div>
	<% include _footer %>
	<script src='/scripts/index.js'></script>
</body>
</html>
