<!DOCTYPE html>
<html lang='en'>
<head>
	<% include _head %>
	<link rel='stylesheet' href='/css/search.css'>
	<script>window._epn = { campaign: 5338320499 };</script>
</head>
<body>
	<% include _navigation %>
	<div id='wrapper'>
		<div id='content' class='center-h'>
			<div id='prime-offering' class='prime-offering'>
				<div>Do you have Amazon prime?</div>
				<span id='prime-offering-yes'>Yes</span>
				<span id='prime-offering-no'>No</span>
			</div>
			<div id='prime-trial-offering' class='prime-offering'>
				<div>Would you like a 30 Day FREE trial?</div>
				<span id='prime-trial-offering-yes'>Yes</span>
				<span id='prime-trial-offering-no'>No</span>
			</div>
			<div id='prime-trial-type-select' class='prime-offering'>
				<div>Are you a college student?</div>
				<a href='/prime-student' target='_blank' id='prime-trial-type-select-yes'>Yes</a>
				<a href='/prime' target='_blank' id='prime-trial-type-select-no'>No</a>
			</div>
			<div id='inner-content'>
			</div>
		</div>
	</div>
	<% include _footer %>
	<script src='/scripts/jquery.cookie-1.4.1.min.js'></script>
</body>
</html>
