<!DOCTYPE html>
<html lang='en'>
<head>
	<% include _head %>
	<link rel='stylesheet' href='/css/search.css'>
</head>
<body>
	<% include _navigation %>
	<div id='wrapper'>
		<div id='content' class='center-h'>
			<div id='prime-offering' class='prime-offering'>
				<div>Do you have Amazon prime?</div>
				<span id='prime-offering-yes'>Yes</span>
				<span id='prime-offering-no'>No</span>
			</div>
			<div id='prime-trial-offering' class='prime-offering'>
				<div>Would you like a 30 Day FREE trial?</div>
				<a href='/' target='_blank' id='prime-trial-offering-yes'>Yes</a>
				<span id='prime-trial-offering-no'>No</span>
			</div>
			<div id='inner-content'>
			</div>
		</div>
	</div>
	<% include _footer %>
</body>
</html>
