<!DOCTYPE html>
<html lang='en'>
<head>
	<meta name='description' content='Never Pay Extra | The Price Comparison App | Price Check While you Shop'>
	<meta name='keywords' content='never pay extra, price comparison app, chrome extension price comparison'>
	<link rel='stylesheet' href='/css/track.css'>
	<% include _head %>
</head>
<body>
	<% include _navigation %>
	<div id='wrapper'>
		<div id='content' class='center'>
			<div id='inner-content' class='center'>
				<form action='/track' method='POST'>
					<input type='email' name='email' placeholder='Email (Optional)' autofocus>
					<input type='text' name='phone' placeholder='Phone (Optional)'>
					<input type='text' name='target' placeholder='Target Price' required>
					<span id='message-result'>
						<% if(session['track-message-result']) { %>
							<%= session['track-message-result'] %>
						<% } %>
					</span>
					<input type='text' name='upc'></span>
					<input type='submit' value='Track Product'>
				</form>
			</div>
		</div>
	</div>
	<% include _footer %>
	<script src='/scripts/track.js'></script>
</body>
</html>
