<!DOCTYPE html>
<html lang='en'>
<head>
	<meta name='description' content='Never Pay Extra | The Price Comparison App | Price Check While you Shop'>
	<meta name='keywords' content='never pay extra, price comparison app, chrome extension price comparison'>
	<link rel='stylesheet' href='/css/track.css'>
	<% include _head %>
</head>
<body>
	<% include _navigation %>
	<div id='wrapper' extension-enabled='false'>
		<div id='content' class='center'>
			<div id='inner_content' class='center'>
				Hello World
			</div>
		</div>
	</div>
	<% include _footer %>
</body>
</html>
