#inner-content form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 'contact-email contact-subject' 'contact-message contact-message' 'contact-sent contact-sent' 'contact-submit contact-submit';
	grid-gap: 20px;
	width: 600px;
}

#inner-content form .input {
	padding: 10px 15px;
	border-radius: 3px;
	border: 1px solid #CCC;
	font-size: 18px;
	resize: none;
}

#inner-content form input {
	height: 50px;
}

input[name='email'] {
	grid-area: contact-email;
}

input[name='subject'] {
	grid-area: contact-subject;
}

textarea {
	grid-area: contact-message;
	height: 300px;
}

#message-result {
	display: grid;
	justify-self: center;
	grid-area: contact-sent;
	text-align: center;
	font-size: 18px;
	color: #555;
}

#inner-content input[type='submit'] {
	display: grid;
	justify-self: center;
	grid-area: contact-submit;
	width: 350px;
	font-size: 20px;
	background-color: #FA5C76;
	color: #FFF;
	border-radius: 5px;
	border: 1px solid #CCC;
	cursor: pointer;
}

@media screen and (max-width: 650px) {
	#inner-content form {
		grid-template-columns: none;
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 'email' 'subject' 'message' 'sent' 'submit';
		width: 95%;
	}
}

@media screen and (max-width: 400px) {
	#inner-content #submit-button {
		width: 95%;
	}
}
