nav {
	height: 81px;
	background-image: linear-gradient(to right, #FD5785, #F86668);
	grid-template-columns: 1fr 400px 1fr;
	color: #FFF;
}

nav #nav-name a {
	grid-template-columns: 70px auto;
	grid-column-gap: 20px;
	font-size: 25px;
	color: #FFF;
}

nav #nav-search {
	height: 35px;
	width: 100%;
	position: relative;
	overflow-y: hidden;
}

nav #nav-search i {
	position: absolute;
	top: 3px;
	right: 10px;
	color: #333;
	font-size: 25px;
	cursor: pointer;
}

nav #nav-search button {
	height: 0;
}

nav #nav-search input {
	height: 33px;
	width: 100%;
	border-radius: 25px;
	border: none;
	padding: 0 10px;
}

@media screen and (max-width: 1150px) {
	nav #nav-name strong {
		display: none;
	}
}

@media screen and (max-width: 850px) {
	nav {
		grid-template-columns: 100px auto;
		padding: 0 20px;
	}

	nav #social_list {
		display: none;
	}
}
