nav {
	height: 81px;
	background-image: linear-gradient(to right, #FD5785, #F86668);
	grid-template-columns: 1fr 400px 1fr;
	color: #FFF;
}

nav #nav-name a {
	font-size: 25px;
	color: #FFF;
}

nav #nav-search {
	height: 35px;
	width: 100%;
	position: relative;
	overflow-y: hidden;
}

nav #nav-search i {
	position: absolute;
	top: 3px;
	right: 10px;
	color: #2B2B2B;
	font-size: 25px;
	cursor: pointer;
}

nav #nav-search button {
	height: 0;
}

nav #nav-search input {
	height: 33px;
	width: 100%;
	border-radius: 25px;
	border: none;
	padding: 0 10px;
}

#navigation {
	display: grid;
	grid-template-columns: auto auto auto;
	height: 100%;
	width: 1000px;
}

#navigation #logo_container {
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-template-areas: 'logo company_name' 'logo slogan';
	grid-row-gap: 5px;
	grid-column-gap: 20px;
	justify-self: left;
	height: 100%;
}

#navigation #logo_container > * {
	height: 100%;
	width: 100%;
}

#navigation #logo_container span {
	display: grid;
	justify-items: center;
}

#navigation #logo_container img {
	grid-area: logo;
}

#navigation #logo_container #company_name {
	display: grid;
	grid-area: company_name;
	align-items: end;
	font-size: 22px;
}

#navigation #logo_container #slogan {
	grid-area: slogan;
	font-size: 14px;
}

#navigation #social_list {
	justify-self: right;
}

@media screen and (max-width: 1100px) {
	nav {
		padding: 0 20px;
	}

	#navigation {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	body {
		grid-template-rows: 130px 1fr auto !important;
	}

	#navigation {
		grid-template-columns: none;
		grid-template-rows: 80px 50px;
	}

	#navigation #logo_container, #navigation #social_list {
		justify-self: center;
	}
}
