#inner_content {
  max-width: 1100px;
  padding: 0 10px;
}

.product {
  display: grid;
  align-items: center;
  grid-template-columns: 212px auto 150px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
  'product-image product-title product-rating'
  'product-image product-platform .'
  'product-image . .'
  'product-image product-price product-link'
  'product-image product-savings product-link'
  'product-image . .'
  ;
  height: 175px;
  width: 100%;
  border-bottom: 1px solid #B7B7B7;
  border: 1px solid black;
}

.product > * {
  font-family: 'Open Sans';
}

.product-image {
  grid-area: product-image;
  height: 157px;
  width: 212px;
  margin-right: 45px !important;
  border: 1px solid red;
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
}

.product-title {
  grid-area: product-title;
  font-size: 20px;
  font-weight: bold;
}

.product-platform {
  grid-area: product-platform;
  font-weight: 300;
  font-size: 16px;
}

.product-price {
  grid-area: product-price;
  font-size: 16px;
}

.product-savings {
  grid-area: product-savings;
  width: 150px;
  background-image: linear-gradient(to right, #FD5785, #F86768);
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
}

.product-rating {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-area: product-rating;
  justify-self: end;
  width: 125px;
}

.product-rating > span > span {
  color: #FC4D76;
  font-size: 24px;
  font-weight: 900;
}

.product-link {
  display: grid;
  justify-self: end;
  grid-area: product-link;
  height: 43px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #F9656A;
  font-weight: 900;
  color: #1A1A1A;
}

@media screen and (max-width: 930px) {
  .product {
    grid-template-columns: 110px auto 200px;
    grid-template-areas:
    'product-image product-title product-title'
    'product-image product-platform .'
    'product-image . .'
    'product-image product-price product-rating'
    'product-image product-savings product-link'
    'product-image . product-link'
    ;
  }

  .product-image {
    width: 95px;
  }

  .product-title {
    font-size: 12px;
  }

  .product-platform {
    font-size: 10px;
  }

  .product-price {
    font-size: 9px;
  }

  .product-savings {
    font-size: 11px;
    width: 80px;
  }

  .product-rating {
    grid-template-rows: none;
    grid-template-columns: auto auto;
    line-height: 32px;
    text-align: right;
    width: 200px;
    font-size: 10px;
  }

  .product-rating > span > span {
    font-size: 18px;
  }
}
