#inner-content {
  max-width: 1100px;
  padding: 0 10px;
}

.prime-offering {
	position: absolute;
	right: 0;
	top: 25%;
	overflow: hidden;
	width: 0;
	transition-duration: .25s;
	background-color: #FFF;
	text-align: center;
	border-radius: 5px;
	max-height: 56px;
	padding: 5px 0;
}

.prime-offering div {
	margin-bottom: 5px;
}

.prime-offering span, .prime-offering a {
	border-radius: 25px;
  border: 2px solid #F9656A;
  color: #1A1A1A;
	margin: 0 2px;
	padding: 0 10px;
	cursor: pointer;
}

#filter {
  margin-bottom: 50px;
}

#filter > div {
  margin-bottom: 5px;
}

#filter h1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

#filter .filter-title {
  font-weight: bold;
}

#filter input {
  font-size: 18px;
}

#platform-filter input, #attributes-filter input {
  margin-right: 5px;
}

#price-filter input {
  margin-left: 5px;
}

#platform-filter span, #attributes-filter span {
  margin-right: 15px;
}

#price-filter .dynamic-filter {
  margin-left: 15px;
}

#price-filter input {
  width: 95px;
	border-radius: 25px;
	border: 1px solid #333;
	padding: 0 10px;
  margin: 5px 0;
}

.product {
  display: grid;
  align-items: center;
  grid-template-columns: 212px auto 150px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
	'product-image product-title product-title'
  'product-image product-platform .'
  'product-image . .'
  'product-image . .'
  'product-image product-rating product-link'
  'product-image product-price product-link'
	'product-image shipping-included product-icons';
  height: 175px;
  width: 100%;
	margin-bottom: 15px;
  border-bottom: 1px solid #B7B7B7;
}

.product > * {
  font-family: 'Open Sans';
}

.product-image {
  grid-area: product-image;
	height: 100%;
  width: 212px;
}

.product-image.multiple-images {
  display: grid;
	grid-template-rows: 125px 50px;
}

.product-image .main-image {
	height: 100%;
	width: 100%;
	padding: 5px 0;
}

.product-image .main-image img {
  max-height: 100%;
	max-width: 200px;
}

.product-image .mini-image-container {
  display: grid;
	grid-template-columns: repeat(auto-fit, 25%);
	height: 100%;
	width: 100%;
  padding: 0 15px;
}

.product-image .mini-image {
	height: 40px;
	width: 40px;
  border: 1px solid #FFF;
}

.product-image .mini-image:hover, .product-image .mini-image.selected {
  border: 1px solid gray;
}

.product-image .mini-image img {
	max-height: 100%;
	max-width: 100%;
}

.product-title {
  grid-area: product-title;
  font-size: 20px;
  font-weight: bold;
  color: #1A1A1A;
}

.product-platform {
  grid-area: product-platform;
  font-weight: 300;
  font-size: 16px;
}

.product-rating {
  display: grid;
	justify-items: start;
  grid-template-columns: 50px auto;
  grid-area: product-rating;
}

.product-rating > span {
	display: grid;
	align-items: center;
}

.product-rating > span:first-child {
	grid-template-columns: auto auto;
}

.product-rating > span > span {
  color: #FC4D76;
  font-size: 24px;
  font-weight: 900;
	margin-top: -7px;
	margin-left: 2px;
}

.product-price {
  grid-area: product-price;
  font-size: 18px;
}

.product-price div:first-child {
	font-weight: bold;
}

.shipping-included {
	font-size: 10px;
	font-style: italic;
}

.product-link {
  display: grid;
  justify-self: end;
  grid-area: product-link;
  height: 43px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #F9656A;
  font-weight: 900;
  color: #1A1A1A;
	margin-bottom: 20px;
}

.product-icons {
	display: grid;
  justify-self: end;
	grid-template-columns: repeat(auto-fill, 30px);
	grid-area: product-icons;
	margin-bottom: 10px;
}

.product-icons > * {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 30px;
}

@media screen and (max-width: 850px) {
  .filter {
    display: block;
  }

  .filter input[type='text'] {
    margin: 3px 0;
  }

  .product {
		grid-template-columns: 175px auto 150px;
		grid-template-areas:
	  'product-image . .'
		'product-image product-title product-title'
	  'product-image product-platform .'
    'product-image . .'
	  'product-image product-rating product-link'
	  'product-image product-price product-icons'
	  'product-image . .';
	}

	.product-image {
		width: 175px;
	}

  .product-image .main-image {
    padding: 0 5px;
  }

  .product-image .main-image img {
    width: 100%;
  }

	.product-title {
		font-size: 12px;
	}

	.product-platform {
		font-size: 10px;
	}

	.product-price {
		font-size: 12px;
	}

	.shipping-included {
		font-weight: 8px;
	}

	.product-rating {
		font-size: 12px;
	}

	.product-rating > span > span {
		font-size: 16px;
	}

	.product-link {
		font-size: 10px;
		width: 125px;
	}
}

@media screen and (max-width: 575px) {
	.product {
		grid-template-rows: repeat(5, auto);
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		'product-image product-image'
		'product-title product-title'
		'product-platform product-rating'
		'product-price .'
		'product-icons product-link';
		margin-bottom: 0;
		padding-top: 20px;
		height: auto;
	}

	.product-image {
		text-align: center;
    height: 175px;
		width: 100%;
	}

  .product-image .main-image {
    padding-bottom: 10px;
  }

  .product-image .main-image img {
    width: auto;
  }

	.product-title {
		text-align: center;
		padding: 0 5px;
    margin-bottom: 15px;
	}

	.product-rating {
		grid-template-columns: 40px 85px;
    justify-self: end;
	}

  .product-icons {
    justify-self: start;
  }
}
