#inner_content {
  max-width: 1100px;
  padding: 0 10px;
}

.product {
  display: grid;
  align-items: center;
  grid-template-columns: 212px auto 150px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
	'product-image product-title product-title'
  'product-image product-platform .'
  'product-image . .'
  'product-image . .'
  'product-image product-rating product-link'
  'product-image product-price product-link'
	'product-image . .';
  height: 175px;
  width: 100%;
	margin-bottom: 15px;
  border-bottom: 1px solid #B7B7B7;
}

.product > * {
  font-family: 'Open Sans';
}

.product-image {
	display: grid;
	grid-template-rows: 125px 50px;
  grid-area: product-image;
	height: 100%;
  width: 212px;
}

.product-image .main-image {
	height: 100%;
	width: 100%;
	padding: 5px 0;
}

.product-image .main-image img {
  max-height: 100%;
	max-width: 100%;
}

.product-image .mini-image-container {
	grid-template-columns: repeat(auto-fit, 25%);
	height: 100%;
	width: 100%;
  padding: 0 15px;
}

.product-image .mini-image {
	display: inline-block;
	height: 40px;
	width: 40px;
  border: 1px solid #FFF;
}

.product-image .mini-image:hover, .product-image .mini-image.selected {
  border: 1px solid gray;
}

.product-image .mini-image img {
	max-height: 100%;
	max-width: 100%;
}

.product-title {
  grid-area: product-title;
  font-size: 20px;
  font-weight: bold;
  color: #1A1A1A;
}

.product-platform {
  grid-area: product-platform;
  font-weight: 300;
  font-size: 16px;
}

.product-price {
  grid-area: product-price;
  font-size: 16px;
}

.product-savings {
  grid-area: product-savings;
  width: 150px;
  background-image: linear-gradient(to right, #FD5785, #F86768);
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
}

.product-rating {
  display: grid;
	justify-items: start;
  grid-template-columns: 60px 150px;
  grid-area: product-rating;
}

.product-rating > span {
	display: grid;
	align-items: center;
}

.product-rating > span:first-child {
	grid-template-columns: auto auto;
}

.product-rating > span > span {
  color: #FC4D76;
  font-size: 24px;
  font-weight: 900;
	margin-top: -7px;
	margin-left: 2px;
}

.product-link {
  display: grid;
  justify-self: end;
  grid-area: product-link;
  height: 43px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #F9656A;
  font-weight: 900;
  color: #1A1A1A;
}

@media screen and (max-width: 850px) {
	.product {
		grid-template-columns: 175px auto 150px;
		grid-template-areas:
	  'product-image . .'
		'product-image product-title product-title'
	  'product-image product-platform .'
	  'product-image product-rating .'
	  'product-image product-price product-link'
	  'product-image . .';
	}

	.product-image {
		width: 175px;
	}

	.product-title {
		font-size: 12px;
	}

	.product-platform {
		font-size: 10px;
	}

	.product-price {
		font-size: 10px;
	}

	.product-savings {
		font-size: 12px;
		width: 90px;
	}

	.product-rating {
		font-size: 12px;
	}

	.product-rating > span > span {
		font-size: 16px;
	}

	.product-link {
		font-size: 10px;
		width: 125px;
	}
}

@media screen and (max-width: 575px) {
	.product {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		'product-image product-image'
		'product-title product-title'
		'product-platform .'
		'product-rating .'
		'product-price product-link';
		margin-bottom: 0;
		padding: 20px 0;
		height: 340px;
	}

	.product-image {
		text-align: center;
		width: 100%;
	}

	.product-title {
		text-align: center;
		padding: 0 5px;
	}

	.product-rating {
		grid-template-columns: 40px 85px;
	}
}
